/**
 * @author Alexandre Blanchet <alexandre.blanchet.ab@gmail.com>
*/

header {
  z-index: 99;
  position: relative;
}

.fleche{
  width: 15px;
  height: 30px;
  display: block;
  float: left;

  &--left{
    background: url(../images/svg/leftArrow.svg) no-repeat center center;

    &Double{
      &:before{
        content: '';
        display: block;
        width: 15px;
        height: 30px;
        margin-left: -6px;
        background: url(../images/svg/leftArrow.svg) no-repeat center center;

      }
    }
  }
  &--right{
    background: url(../images/svg/rightArrow.svg) no-repeat center center;

    &Double{
      &:after{
        content: '';
        display: block;
        width: 15px;
        height: 30px;
        margin-left: 6px;
        background: url(../images/svg/rightArrow.svg) no-repeat center center;

      }
    }
  }
}

.livres {
  display: flex;
  justify-content: start;
  a {
    text-decoration: none;
    color: inherit;
  }
  & .menuDeroulant {
    @media(min-width: $tablettePortrait+1) {
      min-width: 90px;
    }
  }
}


.blockTitre {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  span {
    min-width: fit-content;
  }
}

.categories {

  &--table {
    display: none;
    @media(min-width: $tablettePortrait+1) {
      display: block;

      width: 25%;
      z-index: 1;
      background-color: $blanc;
      padding: 10px;
      ul {
        position: relative;
        z-index: 2;
      }
      h2 {
        margin-top: 65px;
        @media(max-width: $tablettePortrait+201) {
          @include fontSize(28px);
        }
      }
      a {
        display: inline-block;
        margin: 0;
      }
      a:after {
        display: block;
        content: '';
        border-bottom: solid 3px $jauneBtn;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        max-width: 90%;
      }

      a:hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
    }
  }
}

.catalogue {
  width: 100%;
  padding: 10px;
  @media(min-width: $tablettePortrait+1) {
    width: 75%;
  }

  &__filDariane {
    a {
      text-decoration: underline;
      border-bottom: transparent 2px solid;

      &:hover {
        border-bottom: $jauneBtn 2px solid;
      }
    }
    & .fleche{
      margin: -2px;
      margin-right: 5px;
    }
  }

  &__bar {
    flex-flow: column;
    align-items: center;
    background-color: $blanc;
    width: 100%;
    margin: auto;
    padding: 10px;
    @media(min-width: $tablettePortrait+1) {
      display: flex;
      justify-content: space-between;
      flex-flow: row;
      background-color: $grisPale;
      border: 10px $blanc solid;
    }

    form {
      @media(max-width: $tablettePortrait) {
        display: flex;
        flex-flow: column;
        margin: 10px;
      }
    }

    &Options {
      @media(min-width: $tablettePortrait+1) {
        display: flex;
        justify-content: flex-end;
        width: 75%;
        margin-bottom: 0;
      }
      & .btn{
        margin-top: 0;
        margin-left: 20px;
      }


      ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;

      }

      li {
        display: flex;
        justify-content: flex-end;
        flex-flow: column;
        width: 100%;
        @media(min-width: $tablettePortrait+1) {
          flex-flow: row;
          justify-content: flex-end;
          align-items: center;
          width: auto;
          margin-left: 10px;
          select {
            margin-left: 10px;
          }
        }
        @media(max-width: $tablettePortrait) {
          &:first-child {
            border-right: 1px solid black;
            padding-right: 10px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    a{
      transition: transform 250ms ease-in-out;
      &:hover {
        transform: scale(1.4);
      }
    }

    @media(max-width: $tablettePortrait) {
      width: 100%;
      justify-content: space-around;

    }

  }
}

.resultats {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: wrap;
  width: 100%;
  margin: auto;

  &__item {
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    width: 45%;
    padding: 0.5em 0.5em 0.5em 0;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    @media(min-width: $tablettePortrait + 1) {
      margin:0 2.5%;
      width: 33%;
    }

    @media(min-width: $tablettePortrait + 201) {
      width: 20%;
    }

    &Titre {
      font-weight: bold;
    }

    &Auteur {
    }

    &Prix {
      font-style: italic;
      font-weight: bold;

      &:before {
        content: "";
        display: inline-block;
        height: 17px;
        width: 17px;
        padding-right: 5px;
        margin-bottom: -2px;
        background-size: 17px 17px;
        background-image: url("../images/svg/prixLivre.svg");
        background-repeat: no-repeat;
      }
    }
  }

  &:after {
    content: '';
    flex: auto;
  }
}


.categorieActive:after {
  display: block;
  content: '';
  border-bottom: solid 3px $jauneBtn;
  transition: transform 250ms ease-in-out;
  max-width: 90%;
  transform: scaleX(1);
  transform-origin: 0% 50%;
}