

.btn {
  margin-top: 20px;
    background-color: $jauneBtn;
    width: 180px;
    height: 50px;
    border-radius: 2px;
    border: none;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  @media (max-width: 1000px) {
    width: 100px;
  }
  &:hover{
    background-color: $jauneBtnHover;
      box-shadow: 0px 2px 4px rgba(39, 39, 39, 0.25);
  }
}

.btnLien{
  background-color: #FFD733;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: none;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  margin: 20px 0;
  display: block;
  @media (min-width: 600px) {
    //margin: 10px 20px;
    padding: 10px;
  }

  &:hover{
    background-color: $jauneBtnHover;
    box-shadow: 0px 2px 4px rgba(39, 39, 39, 0.25);
  }

  &--droite{
    margin: 30px 0 0 auto;
    width: 140px;
  }
}

.lienStyle{
  border-bottom: solid 1px;
  &:hover{
    color: #959393;
  }
}

