/**
 * @author Prénom Nom courriel
**/

/**
 * ------------------
 * TABLE DES MATIÈRES
 * ------------------
 * BIBLIOTHÈQUES (dans le dossier bower_components)
 ** Normalize
 ** Susy
 * UTILITAIRES
 ** variables
 ** mixins
 * BASE
 ** Charte typographique responsive
 *

 * ...
 */

/*** Normalize ***/
@import '../../../node_modules/normalize.scss/normalize.scss';
@import '../../../node_modules/susy/sass/susy';
@import '../../../node_modules/susy/sass/plugins/svg-grid';

/*** Variables ***/
@import './utilitaires/variables.scss';
@import './utilitaires/mixins.scss';
@import './utilitaires/generale.scss';

/*** Base ***/
@import './base/typo.scss';
@import "base/bouton.scss";
@import "base/formulaire.scss";

/*** Modules ***/
@import './modules/accueil.scss';
@import './modules/fiche.scss';
@import './modules/footer.scss';
@import './modules/header.scss';
@import './modules/livres.scss';
@import './modules/panier.scss';
@import './modules/transaction.scss';
@import './modules/confirmation.scss';


